body {
    background-color: #9696b9c0;
    font-family: Arial, sans-serif;
    
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 400%;
    background-color: yellow;
    border: #000000 2px solid;
    box-sizing: border-box;
    width: max-content;
    border-radius: 10px;
    transform: rotate(21deg);
    padding: 10px;
}

p {
    color: white;
}

ul {
    list-style-type: square;
    background-color: rgba(238, 73, 238, 0.61);
    width: max-content;
    padding: 20px;
    border-color: blueviolet;
    list-style: none;
    border: 2px solid purple;
    display: flex;
}

.texto {
    color: red;
    font-weight: bold;
}

li{
    color: rebeccapurple;
    border: 2px solid black;
    padding: 10px;
  }

p span {
    color: rgb(160, 57, 9);
}

h1 + p {
    font-size: 200%;
  }

a:link {
    color: pink;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

p {
    color: aqua;
}

    body {
      background-color: rgb(196, 51, 196);
    }
